aws_region = "us-east-1"

project_name = "k3s-lab"
environment  = "dev"

# t3.micro é mais barato, mas pode ficar apertado.
# Para K3s com mais estabilidade, use t3.small.
instance_type = "t3.small"
worker_count  = 2

# Nome da chave que será criada na AWS
key_name = "k3s-lab-key"

# Caminho da sua chave pública local
public_key_path = "~/.ssh/k3s-lab.pub"

# Troque pelo seu IP público no formato /32
# Exemplo: "189.10.20.30/32"
ssh_allowed_cidr = "SEU_IP_PUBLICO/32"

# RDS PostgreSQL
# Não use senha fraca. O RDS exige senha com pelo menos 8 caracteres.
db_name     = "task_cloud"
db_username = "postgres"
db_password = "TroquePorUmaSenhaForte123"

# Para laboratório, db.t3.micro é uma opção econômica.
db_instance_class    = "db.t3.micro"
db_allocated_storage = 20
